@use './container' as *;

.flex {
	display: flex;

	&-container {
		display: flex;
		@extend .container;
	}
}

.fxd-column {
	flex-direction: column;
}

.fxw-wrap {
	flex-wrap: wrap;
}

.jc-between {
	justify-content: space-between;
}

.ai-start {
	align-items: flex-start;
}

.ai-center {
	align-items: center;
}

.ac-center {
	align-content: center;
}
